<%# <%= render "shared/navbar", list: @list, bookmark: @bookmark %>
<%= render "shared/navbar" %>
<section class="listings">
  <% @pools.each do |pool| %>

    <%# <%= pool_path(pool), class: 'button button-center' do %>
    <%= link_to pool_path(pool), class: 'article' do %>
    <article>
      <img src="<%= pool.url_photo %>" alt="Image de <%= pool.name %>">
      <div class="left-right">
      <h2><%= pool.name %></h2>
      <h2><%= pool.price %> €</h2>
      </div>
      <div class="left-right">
      <p><%= pool.rating %>/5 <i class="fa-solid fa-star" style="color: #e5c006;"></i></p>
      <p><%= pool.max_people %><i class="fa-solid fa-user"></i></i></p>
      </div>
        <p>
          <i class="fa-solid fa-city"></i>
          <span class="separator"></span>
          <%= pool.address %>
        </p>
      </div>
      <p><%= pool.description %></p>

    </article>
    <% end %>

  <% end %>
</section>


<%= render "shared/footer" %>
