<%# <%= render "shared/navbar", list: @list, bookmark: @bookmark %>
<%= render "shared/navbar" %>

<%= form_tag "/index", method: "GET" do %>
  <%= label_tag :search_by_breed %>
  <%= text_field_tag :search_by_location, params[:search_by_breed] %>
  <%= label_tag :search_by_color %>
  <%= text_field_tag :search_by_date, params[:search_by_color] %>
  <%= submit_tag "Search" %>
<% end %>

<section class="listings">
  <% @pools.each do |pool| %>

    <%# <%= pool_path(pool), class: 'button button-center' do %>
    <%= link_to pool_path(pool), class: 'article-index' do %>

    <article>
      <img src="<%= pool.url_photo %>" alt="Image de <%= pool.name %>">
      <div class="left-right">
      <h2><%= pool.name %></h2>
      <h2><%= pool.price %> €</h2>
      </div>
      <div class="left-right">
      <p><%= pool.rating %>/5</p>


      <% pool.rating.times do %>
        <i class="fa-solid fa-star" style="color: #e5c006;"></i>
      <% end %>
      <% (5 - pool.rating).times do %>
        <i class="fa-regular fa-star" style="color: #e5c006;"></i>
      <% end %>


      <p><%= pool.max_people %><i class="fa-solid fa-user"></i></i></p>
      </div>
        <p>
          <i class="fa-solid fa-city"></i>
          <span class="separator"></span>
          <%= pool.address %>
        </p>
      </div>
      <p><%= pool.description %></p>
    </article>

    <% end %>

  <% end %>
</section>


<%= render "shared/footer" %>
