<%= render "shared/navbar" %>

<article>
  <img src="<%= @pool.url_photo %>" alt="Image de <%= @pool.name %>">
  <h2><%= @pool.name %></h2>
  <p><%= @pool.description %></p>
  <p>Prix : <%= @pool.price %> €</p>
  <p>Évaluation : <%= @pool.rating %></p>
  <p>Capacité : <%= @pool.max_people %> personnes</p>
  <p>Ville : <%= @pool.address %></p>
</article>
