<div class="container shadow p-3 m-5 bg-white ">
<div class = "row">
  <div class = "col image-container">
    <img src="<%= @pool.url_photo %>" alt="Image of <%= @pool.name %>">
  </div>
  <div class = "col shadow pr-3">
    <%# <div data-controller="datepickr" data-datepickr-target="date"> %>
      <%= simple_form_for [@pool, @booking] do |f| %>
        <h2><%= @pool.price %> € / day</h2>
        <div class="left-right">
          <div class="users">
            <p><%= @pool.max_people %><i class="fa-solid fa-user user-icon"></i></p>
          </div>
          <% if (@pool.rating != nil)  %>
              <div class="stars">
                  <% @pool.rating.times do %>
                      <i class="fa-solid fa-star" style="color: #e5c006;"></i>
                  <% end %>
              </div>
          <% end %>
        </div>
        <%= f.error_notification %>
        <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if %>
        <%= f.input :nomber_people%>

        <div data-controller="datepickr" data-datepickr-target="date">
          <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepickr" } } %>
        </div>
        <div data-controller="datepickr" data-datepickr-target="date">
          <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepickr" } } %>
        </div>
        <div class="form btn btn-primary rounded-pill">
          <%= f.button :submit %>
        </div>
      <% end %>
    <%# </div> %>
  </div>
  </div>
</div>
