<%= render "shared/navbar" %>
<div class="container shadow p-3 m-5 bg-white ">
<div class = "row" >
  <div class = "col">
    <img src="<%= @pool.url_photo %>" alt="Image of <%= @pool.name %>" width = "800px">
  </div>
  <div class = "col shadow pr-3">
    <div data-controller="datepickr" data-datepickr-target="date">
      <%= simple_form_for [@pool, @booking] do |f| %>
        <%= f.error_notification %>
        <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if %>
        <%= f.input :nombre_people%>

        <%= f.input :start_date, input_html: { date: { controller: "datepickr" } } %>
        <%= f.input :end_date, input_html: { date: { controller: "datepickr" } } %>
        <div class="form">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>



<%= render "shared/footer" %>
