<h1>Bookings</h1>


<% @bookings.each do |booking|%>

  <%= button_to "validated booking", validate_booking_path(booking), method: :patch %>
  <%= button_to "reject booking", reject_booking_path(booking), method: :patch %>
  <p><%= booking.validation %></p>
  <img src="<%= booking.pool.url_photo %>" alt="Image de <%= booking.pool.name %>">
  <br>
  <p>Booked from: <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong></p>
  <br>
  <br>

<% end %>
 <%# <%= render booking %>

    <%# t.date "start_date"
    t.date "end_date"
    t.integer "price"
    t.integer "nombre_people" %>
