<%= render "shared/navbar" %>



<% @pools.each do |pool|%>
  <% pool.bookings.each do |poolBooking| %>
    <p><%= pool.name %></p>
    <p><%= poolBooking.start_date %></p>
    <p><%= poolBooking.end_date %></p>
    <%= button_to "validated booking", validate_booking_path(poolBooking), method: :patch %>
    <%= button_to "reject booking", reject_booking_path(poolBooking), method: :patch %>
    <p><%= pool.url_photo %></p>
  <% end %>
<% end %>
 <%# <%= render booking %>

    <%# t.date "start_date"
    t.date "end_date"
    t.integer "price"
    t.integer "nombre_people" %>
