<% @pools.each do |pool|%>

  <p><%= pool.name %></p>
  <p><%= pool.url_photo %></p>
  <%= button_to "delete my pool", pool_path(pool), method: :delete %>
    <%# <%= button_to "cancel booking", booking_path(booking), method: :delete %> %>

  <% pool.bookings.each do |poolBooking| %>
    <p><%= pool.name %></p>
    <p><%= poolBooking.start_date %></p>
    <p><%= poolBooking.end_date %></p>
    <%= button_to "validated booking", validate_booking_path(poolBooking), method: :patch %>
    <%= button_to "reject booking", reject_booking_path(poolBooking), method: :patch %>
    <%# <p><%= pool.url_photo %></p> %>
  <% end %>
<% end %>
