<%= render "shared/navbar" %>

<h1>Book your favourite pool</h1>

<% @bookings.each do |booking|%>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%# <img src="..." class="card-img" alt="..."> %>
      <img src="<%= booking.pool.url_photo %>" class="card-img" alt="Image de <%= booking.pool.name %>">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%# <h5 class="card-title">Card title</h5> %>
        <h5 class="card-title"><strong><%= booking.pool.name %></strong></h5>
        <p class="card-text"> <small class ="text-muted">Description: <%= booking.pool.description %></small></p>
        <p class="card-text"><small class ="text-muted">Max capacity: <%= booking.pool.max_people %></small></p>
        <p class="card-text"><small class ="text-muted">Price: <%= booking.pool.price %></small></p>
        <p class="card-text"><small class ="text-muted">Address: <%= booking.pool.address %></small></p>
        <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
      </div>
    </div>
    <%= button_to "cancel booking", booking_path(booking), method: :delete %>
  </div>
</div>
  <%# <br> %>
<% end %>
