<div class="container pt-3 ">
<h1 class = "text-center">Your favourite pool</h1>

<% @bookings.each do |booking|%>
<div class="container p-3 m-5 bg-white shadow p-3 m-5 bg-white ">
  <div class="row">
    <div class="col">
      <%# <img src="..." class="card-img" alt="..."> %>
      <img src="<%= booking.pool.url_photo %>" class="card-img pt-2" alt="Image de <%= booking.pool.name %>">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%# <h5 class="card-title">Card title</h5> %>
        <h5 class="card-title"><strong><%= booking.pool.name %></strong></h5>
        <p class="card-text"> <small class ="text-muted"><%= booking.pool.description %></small></p>
        <p class="card-text"> <small class ="text-muted"> <%= booking.start_date %></small></p>
        <p class="card-text"> <small class ="text-muted"> <%= booking.end_date %></small></p>
        <p class="card-text"><small class ="text-muted"> <%= booking.pool.max_people %></small></p>
        <p class="card-text"><small class ="text-muted"> <%= booking.pool.price %></small></p>
        <p class="card-text"><small class ="text-muted"> <%= booking.pool.address %></small></p>
        <%# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> %>
      </div>
      <div class = "pt-2">
        <%= button_to "cancel booking", booking_path(booking), method: :delete, class: 'form btn btn-primary rounded-pill' %>
    </div>
    </div>
  </div>
</div>
  <%# <br> %>
<% end %>
</div>
