<header>
  <nav>
    <ul>
      <%= image_tag("logo.png", class:"logo")%>
      <li><%= link_to 'Connexion', bookings_path(current_user), class: 'button button-center' %></li>
      <li><p>PoolParty</p></li>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Explorer</a></li>
      <li><%= link_to 'Booking', bookings_path(current_user), class: 'button button-center' %></li>
      <li><a href="#">Contactez-Nous</a></li>

      <li><%= link_to 'poolrental', poolrental_index_path(current_user), class: 'button button-center' %></li>

      <li><%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %></li>
    </ul>
  </nav>
</header>
