
<div class="container mt-5 mb-5 d-flex justify-content-center" width = "800">
  <div class = "card px-1 py-4">
    <div class = "card-body">
      <div>
      <h2 class = "text-center">Contact us</h2>
        <%= simple_form_for @pool do |f| %>
        <%= f.error_notification %>
        <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if %>

        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <div class=" btn btn-primary rounded-pill white">
          Send your message
        </div>
        <% end %>
      </div>
    </div>
    </div>
